.details {
    border: 0.1em solid var(--ifm-toc-border-color) !important;
}

.details:hover {
    border: 0.1em solid var(--ifm-color-primary-darkest) !important;
}

/* Add border-bottom when details is expanded */
details[open] .summary {
    border-bottom: 0.1em solid var(--ifm-toc-border-color) !important;
}

.summary {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 0.5em;
    padding-right: 2em;
}

.summary:hover {
    background-color: var(--ifm-color-emphasis-100);
}

.questionIcon {
    font-size: 1.5rem;
    padding: 0.5em;
    transition: transform 0.2s ease-in-out;
}

.question {
    font-weight: bold;
    padding: 0.5em;
}

.answerContent {
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
    padding: 0.1em 2em 0.1em 0.5em;
    border-radius: 0.5em;
    width: 100%; /* Ensure container takes full available width */
    box-sizing: border-box; /* Explicitly set box-sizing */
}

.infoIcon {
    font-size: 1.5rem;
    padding-left: 0.1em;
    padding-right: 0.2em;
    flex-shrink: 0;
}

.answer {
    flex: 1;
    padding: 0.25em;
    min-width: 0; /* Prevent flex item from overflowing */
}

.summary::-webkit-details-marker {
    display: none;
}