.customDetails {
    border: var(--border-very-thin) solid var(--ifm-toc-border-color) !important;
    border-radius: 1em !important;
}

.customDetails:hover {
    border: var(--border-very-thin) solid var(--ifm-color-primary-darkest) !important;
}

/* Add border-bottom when details is expanded */
.customDetails[open] .questionBox {
    border-bottom: var(--border-very-thin) solid var(--ifm-toc-border-color) !important;
}

.questionBox {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.questionIcon::before {
    content: "📘"; /* default closed state */
    font-size: 1.5em;
    padding: 0.5em;
    display: inline-block;
}

.question {
    font-weight: bold;
    font-style: italic;
}

/* Swap emoji when details is open */
.customDetails[open] .questionIcon::before {
    content: "📖";
}

.answerContent {
    display: flex;
    align-items: flex-start;
    border-radius: 0.5em;
    width: 100%; /* Ensure container takes full available width */
    box-sizing: border-box; /* Explicitly set box-sizing */
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 0.8em;
}

.answer {
    flex: 1;
    min-width: 0; /* Prevent flex item from overflowing */
}

.questionBox::-webkit-details-marker {
    display: none;
}
