.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer {
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* On wider viewports, make it 70% of the viewport width */
@media (min-width: 960px) {
    .imageContainer {
        max-width: 70%;
    }
}