@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

:root {
    --ifm-color-primary: #2e8555;
    --ifm-color-primary-dark: #29784c;
    --ifm-color-primary-darker: #277148;
    --ifm-color-primary-darkest: #205d3b;
    --ifm-color-primary-light: #33925d;
    --ifm-color-primary-lighter: #359962;
    --ifm-color-primary-lightest: #3cad6e;
    --ifm-code-font-size: 90%;
    --docusaurus-highlighted-code-line-bg: rgba(192, 192, 192, 0.1);
    --details-border-color: var(--ifm-toc-border-color);
    --token-interface-color: #3D8F7F;
    --token-class-color: #39C8B0;
    --token-keyword-color: #499CD5;
    --token-constant-color: #FFC66D;
    --token-punctuation-color: #D4D4D4;
    --code-font-family: 'JetBrains Mono', Consolas, 'SF Mono', 'Liberation Mono', 'Courier New', 'serif';
    --ifm-font-family-base: "Noto Sans", "Open Sans", "Noto Color Emoji", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --admonition-margin-vertical: 1em;
    --border-very-thin: 0.001em;
    --ifm-container-width-xl: 1500px;
    --border-hover-transition: border-color 1s ease;
}

p, li {
    line-height: 2;
}

pre code {
    line-height: 2.4;
    font-family: var(--code-font-family), monospace;
    font-feature-settings: "liga" 0, "calt" 0;
}

:not(pre) > code {
    color: lightcoral;
    vertical-align: baseline;
    overflow-x: auto;
    white-space: nowrap;
    font-family: var(--code-font-family), monospace;
    font-size: var(--ifm-code-font-size);
    font-feature-settings: "liga" 0, "calt" 0;
}

blockquote {
    border-left: 0.5em solid var(--ifm-color-primary-darker);
    border-top: var(--border-very-thin) solid var(--ifm-toc-border-color);
    border-bottom: var(--border-very-thin) solid var(--ifm-toc-border-color);
    border-right: var(--border-very-thin) solid var(--ifm-toc-border-color);
    padding: 1em 1em 1em 1.2em;
    transition: var(--border-hover-transition);
}

blockquote:hover {
    border-color: var(--ifm-color-primary-darker);
}

[data-theme='dark'] {
    --ifm-color-primary: #25c2a0;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;
}

article details {
    background-color: transparent;
}

.alert--secondary {
    color: var(--ifm-font-color-base);
    background-color: transparent;
    margin-top: var(--admonition-margin-vertical);
    margin-bottom: var(--admonition-margin-vertical);
}

.alert--warning {
    color: var(--ifm-font-color-base);
    background-color: transparent;
    margin-top: var(--admonition-margin-vertical);
    margin-bottom: var(--admonition-margin-vertical);
}

.alert--info {
    color: var(--ifm-font-color-base);
    background-color: transparent;
    margin-top: var(--admonition-margin-vertical);
    margin-bottom: var(--admonition-margin-vertical);
}

.alert--danger {
    color: var(--ifm-font-color-base);
    background-color: transparent;
    margin-top: var(--admonition-margin-vertical);
    margin-bottom: var(--admonition-margin-vertical);
}

.alert--success {
    color: var(--ifm-font-color-base);
    background-color: transparent;
    margin-top: var(--admonition-margin-vertical);
    margin-bottom: var(--admonition-margin-vertical);
}

[class*="alert--"] {
    transition: var(--border-hover-transition);
}

[class*="alert--"]:hover {
    border-top-color: var(--ifm-alert-border-color);
    border-right-color: var(--ifm-alert-border-color);
    border-bottom-color: var(--ifm-alert-border-color);
}

.theme-admonition:hover [class*="admonitionHeading"] {
    border-bottom-color: var(--ifm-alert-border-color);
    transition: var(--border-hover-transition);
}

[class*="admonitionHeading"] {
    padding-bottom: 0.5em;
    border-bottom: var(--border-very-thin) solid var(--ifm-toc-border-color);
    margin-bottom: 1.2em;
    transition: var(--border-hover-transition);
}

[class*="admonitionIcon"] {
    font-size: 0.8em;
    padding-right: 0.8em;
}

a :not(.navbar_item)[target='_blank']:before {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 13V19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V8C3 7.46957 3.21071 6.96086 3.58579 6.58579C3.96086 6.21071 4.46957 6 5 6H11' stroke='%2325c2a0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 3H21V9' stroke='%2325c2a0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 14L21 3' stroke='%2325c2a0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    display: inline;
    vertical-align: middle;
    padding: 0.1em;
}

h2 a[target='_blank']:before {
    content: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 13V19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V8C3 7.46957 3.21071 6.96086 3.58579 6.58579C3.96086 6.21071 4.46957 6 5 6H11' stroke='%2325c2a0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 3H21V9' stroke='%2325c2a0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 14L21 3' stroke='%2325c2a0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    display: inline;
    vertical-align: middle;
    padding: 0.1em;
}

@media screen and (max-width: 768px) {
    h2 a[target='_blank']:before {
        content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 13V19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V8C3 7.46957 3.21071 6.96086 3.58579 6.58579C3.96086 6.21071 4.46957 6 5 6H11' stroke='%2325c2a0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 3H21V9' stroke='%2325c2a0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 14L21 3' stroke='%2325c2a0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        display: inline;
        vertical-align: middle;
        padding: 0.1em;
    }
}

h3 a[target='_blank']:before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 13V19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V8C3 7.46957 3.21071 6.96086 3.58579 6.58579C3.96086 6.21071 4.46957 6 5 6H11' stroke='%2325c2a0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 3H21V9' stroke='%2325c2a0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 14L21 3' stroke='%2325c2a0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    display: inline;
    vertical-align: middle;
    padding: 0.1em;
}

@media screen and (max-width: 768px) {
    h3 a[target='_blank']:before {
        content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 13V19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V8C3 7.46957 3.21071 6.96086 3.58579 6.58579C3.96086 6.21071 4.46957 6 5 6H11' stroke='%2325c2a0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 3H21V9' stroke='%2325c2a0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 14L21 3' stroke='%2325c2a0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        display: inline;
        vertical-align: middle;
        padding: 0.1em;
    }
}

h2 {
    border-bottom: var(--border-very-thin) solid var(--ifm-toc-border-color);
    padding-bottom: 0.5em;
    transition: var(--border-hover-transition);
}

h2:hover {
    border-bottom-color: var(--ifm-color-primary-darkest);
}

/* Stupid hack */
[class*="title"] {
    border-bottom: 0;
}

.token.constant {
    color: var(--token-constant-color) !important;
    font-weight: bold;
    font-style: italic;
}

.token.boolean {
    color: var(--token-keyword-color) !important;
}

.token.import.namespace {
    color: var(--token-class-color) !important;
}

.token.annotation {
    color: var(--token-interface-color) !important;
}

.token.import.namespace.punctuation {
    color: var(--token-punctuation-color) !important;
}

.token.generics {
    color: var(--token-class-color) !important;
}

.token.prolog {
    color: rgb(156, 220, 254) !important;
}

.avatar {
    padding-bottom: 2em;
}

.theme-admonition {
    border-top: var(--border-very-thin) solid var(--ifm-toc-border-color);
    border-right: var(--border-very-thin) solid var(--ifm-toc-border-color);
    border-bottom: var(--border-very-thin) solid var(--ifm-toc-border-color);
}

.tabs-container {
    border: var(--border-very-thin) solid var(--ifm-toc-border-color);
    padding: 0 0.8em 1em 0.8em;
    border-radius: 0.5em;
}

.tabs-container:hover {
    border: var(--border-very-thin) solid var(--ifm-color-primary-darkest);
    transition: var(--border-hover-transition);
}

.tabs-container details {
    border: 0;
}

details {
    color: var(--ifm-font-color-base);
    border: var(--border-very-thin) solid var(--ifm-toc-border-color);
    background-color: transparent !important;
}

details [class*="collapsibleContent"] {
    border-top: var(--border-very-thin) solid var(--ifm-toc-border-color);
    transition: var(--border-hover-transition);
}

details:hover {
    border-color: var(--ifm-color-primary-darkest) !important;
}

details:hover [class*="collapsibleContent"] {
    border-top-color: var(--ifm-color-primary-darkest) !important;
    transition: var(--border-hover-transition);
}

details a {
    color: var(--ifm-color-primary);
    text-decoration: none;
}

details a:hover {
    text-decoration: underline;
}