:root {
    --left-right-rem: 1rem;
}

.blogPostItem {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: var(--border-very-thin) solid var(--ifm-toc-border-color);
    transition: all 0.5s linear;
    padding-bottom: 1rem;
    background-color: rgba(128,128,128,5%);
}

.blogPostItem:hover {
    border-color: var(--ifm-color-primary-darker);
    cursor: pointer;
}

.blogPostTitle {
    font-weight: 600;
    margin-bottom: 0.5em;
    color: var(--ifm-color-primary-darker);
    border-bottom: 0;
    margin-left: var(--left-right-rem);
    margin-right: var(--left-right-rem);
}

.blogPostDate {
    font-size: 0.8em;
    color: var(--ifm-color-secondary);
    margin-top: auto; /* ✨ Pushes the date to the bottom of the card */
    margin-left: var(--left-right-rem);
    margin-right: var(--left-right-rem);
}